Description=iobio gru backend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
#WorkingDirectory=/mnt/gru
ExecStart=/bin/bash -c 'singularity run --bind /mnt/gru_data:/gru_data /mnt/gru_image/gru.sif'

[Install]
WantedBy=multi-user.target
