Description=iobio gru backend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/mnt/gru
ExecStart=/bin/bash -c 'singularity exec --bind ./data:/data gru.sif node /iobio-gru-backend/src/index.js --port=9001 --data-dir=/data'

[Install]
WantedBy=multi-user.target
