[Unit]
Description=iobio gru backend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
#WorkingDirectory=/mnt/gru
ExecStart=/mnt/gru_efs/run.sh

[Install]
WantedBy=multi-user.target
